<div class="workouts">
    <video width="320" height="180" controls>
        <source src="/Files/video/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <video width="320" height="180" controls>
        <source src="/Files/video/video/abs.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>