<div class="recipes">
    <div class="gallery">
        <a target="_blank" href="/files/picture/smoothie.jpg">
            <img src="/files/picture/smoothiesq.jpg" alt="Smoothie" width="300" height="200">
        </a>
        <div class="desc">Raspberry banana smoothie</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="/files/picture/enbites.jpg">
            <img src="/files/picture/enbites.jpg" alt="Energybites" width="300" height="200">
        </a>
        <div class="desc">Carrot oat energy bites</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="/files/picture/chiap.jpg">
            <img src="/files/picture/chiap.jpg" alt="ChiaPudding" width="300" height="200">
        </a>
        <div class="desc">Chia <br /> pudding</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="/files/picture/muffin.jpg">
            <img src="/files/picture/muffin.jpg" alt="Muffins" width="300" height="200">
        </a>
        <div class="desc">Healthy <br /> muffins</div>
    </div>
</div>