@model List<Lifit.DAL.Recip>

<div class="recipes">
    
    @foreach (var recipe in Model)
    {
        <div class="gallery">
            <a target="_blank" href="@recipe.PictureUrl">
                <img src="@recipe.PictureUrl" alt="Smoothie" width="300" height="200">
            </a>
            <div class="desc">@recipe.Name</div>
        </div>
    }   
    <div class="gallery">
        <a target="_blank" href="/добавяне-на-рецепта">
            Добави рецепта
        </a>
    </div>
</div>