@model List<Lifit.DAL.Recip>

<div class="recipes">
    <form method="post" enctype="multipart/form-data">
        <label>Име</label>
        <input type="text" name="name" />

        <label>Снимка</label>
        <input type="file" name="UserFiles" />

        <label>Рецепта</label>
        <textarea role="8" name="text">
        </textarea>

        <button type="submit">Запиши</button>
        
    </form>

</div>